@{
    ViewData["Title"] = "Inicio";
}
<script src="~/js/Alertas_Actualizacion.js" asp-append-version="true"></script>


<div class="text-posicion ajuste">
    <h1 class="display-4">Ups!!...👀👀</h1>
    <p>Esta página aún está en construcción, gracias por su espera :)</p>
</div>
