.contenedor {
    max-width: 1170px;
    margin: 0 auto 1rem;
    padding: 1.5rem;
}

.tamano{
    width: 500px;
    display: block;
    padding: 5px;
    margin: 5px;
}

.btn{
    margin-top: 15px;
}
.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
.fila-datos:hover {
    cursor: pointer;
}
.fila-seleccionada {
    background-color: #e0e0e0; 
}
@media (max-width: 768px) {
    .tamano{
       width: 300px;
    }
}