@{
    Layout = "_Layout";
    ViewData["Title"] = "Formulario";
}

@model AccesoWindows.Models.ListaViewModel


<div class="ajuste container">
    <div class="row">
        <!-- Columna izquierda para la tabla -->
        <div class="col-md-6 card-body">
            <table id="table_id" class="table">
                <thead>
                    <tr>
                        <th>Id Rol</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var elemento in Model.rol)
                    {
                        <tr class="fila-datos" data-id="@elemento.Value">
                            <td>@elemento.Value</td>
                            <td>@elemento.Text</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Columna derecha para el formulario -->
        <div class="col-md-6">
            <div class="ajuste contacto">
                <form id="formulario" class="form" asp-action="" method="post">
                    <div class="form-group p-3">
                        <label>Id Rol</label>
                        <input id="idRol" class="tamano" asp-for="datos.id_rol" class="form-control" />

                        <label>Descripcion</label>
                        <input id="descripcion" class="tamano" asp-for="datos.descripcion" class="form-control" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
